<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>사용자 페이지</title>
</head>
<body>
  <h1>사용자 페이지</h1>
  <h2>권한 : USER</h2>



  
  <ul sec:authorize="isAuthenticated()">
    <li><span sec:authentication="principal"></span></li>
    <li><span sec:authentication="principal.users"></span></li>
    <li><span sec:authentication="principal.users.userId"></span></li>
    <li><span sec:authentication="principal.users.authList"></span></li>
  </ul>


  <form action="/logout" method="POST">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
  <button type="submit">르그으읏</button>
</form>
<a href="/">메인화면으로</a>
</body>
</html>